<form action="/index/<%= @puppy.id%>" method="post">
<input type="hidden" name="_method" value ="patch"/>
<label for="title">Name</label>
<input type="text" name="name" value="<% @puppy.name%>"/>
<label for="breed">Breed</label>
<input type="text" name="breed" value="<% @puppy.breed%>"/>
<input type="submit" value="Edit puppy"/>
</form>